{% extends "base.html" %}
{% block content %}
    <h1>{{composer.first_name}} {{composer.last_name}}</h1>
    <div class="header-subtitle">
        <span>{{ composer.countries | join(sep=", ") }}</span>
        <span class="vertical-separator"></span>
        <span>{{composer.year_born}}–{{composer.year_died}}</span>
        <span class="vertical-separator"></span>
        <a href="{{composer.wikipedia_link}}">Wikipedia</a>
        {% if composer.imslp_link %}
            <span class="vertical-separator"></span>
            <a href="{{composer.imslp_link}}">IMSLP</a>
        {% endif %}
    </div>

    {% for genre in genres %}
        <h2>{{genre.base.name}}</h2>
        <hr/>
        <div class="card-list">
            {% for work in genre.works %}
                <a href="/composer/{{composer.slug}}/work/{{work.base.id}}">
                    {% include "partials/work_card.html" %}
                </a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
