<!DOCTYPE html>
<html lang="en">
<head>
    <title>Composers | Opus Classical</title>
    <meta charset="utf-8" />
    <meta name="description" content="List of classical music composers grouped by periods." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#fff" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="stylesheet" href="/static/bundle.css" />
    <script src="/static/bundle.js" type="module" defer></script>
</head>
<body>
<div id="content">{% block content %}{% endblock content %}</div>
</body>
</html>