<!DOCTYPE html>
<html lang="en">
<head><title>Composers | Opus Classical</title>
    <meta charset="utf-8"/>
    <meta name="description" content="List of classical music composers grouped by periods."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fff"/>
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="stylesheet" href="/bundle.css?v=42B9E8C6EA8ECF822EE46B9B6F38388D56175B894CBFF69AF887120755DA9140"/>
    <script async defer data-website-id="571bc95e-5d08-489f-b649-6f475f772b00"
            src="https://logs.opusclassical.net/umami.js"></script>
    <script src="/bundle.js?v=8DE3E7F2D055B274065EB431A72DB8AB378BEF85DC2094B347C35826D0153557" type="module"
            defer></script>
</head>
<body>
<header class="header"><a class="logo-link" href="/">
    <div class="brand"><img alt="Opus Classical logo" class="brand__logo" width="72" height="72"
                            src="/img/composers-logo.png"/>
        <div class="brand__title">
            <div class="brand__name">Opus Classical</div>
            <div class="brand__description">Catalogue for streaming classical music</div>
        </div>
    </div>
</a>
    <nav class="menu">
        <div class="menu__item" id="searchBlock"></div>
        <div class="menu__item"><a href="/about">About</a></div>
    </nav>
</header>
<main class="main" role="main"><h1>Composers</h1>
    <h2>Renaissance, 1400–1600</h2>
    <hr/>
    <div class="card-list">
        <a href="/composer/byrd">
            <div class="card ">
                <div><span>Byrd, </span><span class="card__light-text">William</span></div>
                <div class="card__subtitle"><span>England</span><span
                        class="vertical-separator"></span><span>1543–1623</span></div>
            </div>
        </a>
        <a href="/composer/josquin">
            <div class="card ">
                <div><span>Des Prez, </span><span class="card__light-text">Josquin</span></div>
                <div class="card__subtitle"><span>France</span><span
                        class="vertical-separator"></span><span>1450–1521</span></div>
            </div>
        </a>
        <a href="/composer/larue">
        <div class="card ">
            <div><span>La Rue, </span><span class="card__light-text">Pierre de</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1452–1518</span></div>
        </div>
    </a><a href="/composer/palestrina">
        <div class="card ">
            <div><span>Palestrina, </span><span class="card__light-text">Giovanni Pierluigi da</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1525–94</span>
            </div>
        </div>
    </a><a href="/composer/tallis">
        <div class="card ">
            <div><span>Tallis, </span><span class="card__light-text">Thomas</span></div>
            <div class="card__subtitle"><span>England</span><span class="vertical-separator"></span><span>1505–85</span>
            </div>
        </div>
    </a></div>
    <h2>Early baroque, 1580–1650</h2>
    <hr/>
    <div class="card-list"><a href="/composer/frescobaldi">
        <div class="card ">
            <div><span>Frescobaldi, </span><span class="card__light-text">Girolamo</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1583–1643</span>
            </div>
        </div>
    </a><a href="/composer/monteverdi">
        <div class="card ">
            <div><span>Monteverdi, </span><span class="card__light-text">Girolamo</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1567–1643</span>
            </div>
        </div>
    </a><a href="/composer/schutz">
        <div class="card ">
            <div><span>Schütz, </span><span class="card__light-text">Heinrich</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1585–1672</span></div>
        </div>
    </a></div>
    <h2>Middle Baroque, 1630–1700</h2>
    <hr/>
    <div class="card-list"><a href="/composer/biber">
        <div class="card ">
            <div><span>Biber, </span><span class="card__light-text">Heinrich Ignaz Franz</span></div>
            <div class="card__subtitle"><span>Bohemia, Austria</span><span class="vertical-separator"></span><span>1644–1704</span>
            </div>
        </div>
    </a><a href="/composer/buxtehude">
        <div class="card ">
            <div><span>Buxtehude, </span><span class="card__light-text">Dieterich</span></div>
            <div class="card__subtitle"><span>Denmark, Germany</span><span class="vertical-separator"></span><span>1637–1707</span>
            </div>
        </div>
    </a><a href="/composer/corelli">
        <div class="card ">
            <div><span>Corelli, </span><span class="card__light-text">Arcangelo</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1653–1713</span>
            </div>
        </div>
    </a><a href="/composer/lully">
        <div class="card ">
            <div><span>Lully, </span><span class="card__light-text">Jean-Baptiste</span></div>
            <div class="card__subtitle"><span>France</span><span class="vertical-separator"></span><span>1632–87</span>
            </div>
        </div>
    </a><a href="/composer/purcell">
        <div class="card ">
            <div><span>Purcell, </span><span class="card__light-text">Henry</span></div>
            <div class="card__subtitle"><span>England</span><span class="vertical-separator"></span><span>1659–95</span>
            </div>
        </div>
    </a><a href="/composer/rameau">
        <div class="card ">
            <div><span>Rameau, </span><span class="card__light-text">Jean-Philippe</span></div>
            <div class="card__subtitle"><span>France</span><span class="vertical-separator"></span><span>1659–95</span>
            </div>
        </div>
    </a></div>
    <h2>Late Baroque, 1680–1750</h2>
    <hr/>
    <div class="card-list"><a href="/composer/bach">
        <div class="card ">
            <div><span>Bach, </span><span class="card__light-text">Johann Sebastian</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1658–1750</span></div>
        </div>
    </a><a href="/composer/couperin">
        <div class="card ">
            <div><span>Couperin, </span><span class="card__light-text">François</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1668–1733</span></div>
        </div>
    </a><a href="/composer/handel">
        <div class="card ">
            <div><span>Handel, </span><span class="card__light-text">George Frideric</span></div>
            <div class="card__subtitle"><span>Germany, England</span><span class="vertical-separator"></span><span>1685–1759</span>
            </div>
        </div>
    </a><a href="/composer/locatelli">
        <div class="card ">
            <div><span>Locatelli, </span><span class="card__light-text">Pietro</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1695–1764</span>
            </div>
        </div>
    </a><a href="/composer/pergolesi">
        <div class="card ">
            <div><span>Pergolesi, </span><span class="card__light-text">Giovanni Battista</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1710–36</span>
            </div>
        </div>
    </a><a href="/composer/tartini">
        <div class="card ">
            <div><span>Tartini, </span><span class="card__light-text">Giuseppe</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1692–1770</span>
            </div>
        </div>
    </a><a href="/composer/telemann">
        <div class="card ">
            <div><span>Telemann, </span><span class="card__light-text">Georg Philipp</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1681–1767</span></div>
        </div>
    </a><a href="/composer/vivaldi">
        <div class="card ">
            <div><span>Vivaldi, </span><span class="card__light-text">Antonio</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1678–1741</span>
            </div>
        </div>
    </a><a href="/composer/zelenka">
        <div class="card ">
            <div><span>Zelenka, </span><span class="card__light-text">Jan Dismas</span></div>
            <div class="card__subtitle"><span>Bohemia</span><span
                    class="vertical-separator"></span><span>1679–1745</span></div>
        </div>
    </a></div>
    <h2>Classical, 1750–1820</h2>
    <hr/>
    <div class="card-list"><a href="/composer/cpe-bach">
        <div class="card ">
            <div><span>Bach, </span><span class="card__light-text">Carl Philipp Emanuel</span></div>
            <div class="card__subtitle"><span>Germany</span><span class="vertical-separator"></span><span>1714–88</span>
            </div>
        </div>
    </a><a href="/composer/beethoven">
        <div class="card ">
            <div><span>Beethoven, </span><span class="card__light-text">Ludwig van</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1770–1827</span></div>
        </div>
    </a><a href="/composer/boccherini">
        <div class="card ">
            <div><span>Boccherini, </span><span class="card__light-text">Luigi</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1743–1805</span>
            </div>
        </div>
    </a><a href="/composer/haydn">
        <div class="card ">
            <div><span>Haydn, </span><span class="card__light-text">Joseph</span></div>
            <div class="card__subtitle"><span>Austria</span><span
                    class="vertical-separator"></span><span>1732–1809</span></div>
        </div>
    </a><a href="/composer/mozart">
        <div class="card ">
            <div><span>Mozart, </span><span class="card__light-text">Wolfgang Amadeus</span></div>
            <div class="card__subtitle"><span>Austria</span><span class="vertical-separator"></span><span>1756–91</span>
            </div>
        </div>
    </a><a href="/composer/schubert">
        <div class="card ">
            <div><span>Schubert, </span><span class="card__light-text">Franz</span></div>
            <div class="card__subtitle"><span>Austria</span><span
                    class="vertical-separator"></span><span>1797–1828</span></div>
        </div>
    </a><a href="/composer/spohr">
        <div class="card ">
            <div><span>Spohr, </span><span class="card__light-text">Louis</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1784–1859</span></div>
        </div>
    </a></div>
    <h2>Romantic, 1800–1910</h2>
    <hr/>
    <div class="card-list"><a href="/composer/albeniz">
        <div class="card ">
            <div><span>Albéniz, </span><span class="card__light-text">Isaac</span></div>
            <div class="card__subtitle"><span>Spain</span><span class="vertical-separator"></span><span>1860–1909</span>
            </div>
        </div>
    </a><a href="/composer/alkan">
        <div class="card ">
            <div><span>Alkan, </span><span class="card__light-text">Valentin</span></div>
            <div class="card__subtitle"><span>France</span><span class="vertical-separator"></span><span>1813–88</span>
            </div>
        </div>
    </a><a href="/composer/bellini">
        <div class="card ">
            <div><span>Bellini, </span><span class="card__light-text">Vincenzo</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1801–35</span>
            </div>
        </div>
    </a><a href="/composer/berlioz">
        <div class="card ">
            <div><span>Berlioz, </span><span class="card__light-text">Hector</span></div>
            <div class="card__subtitle"><span>France</span><span class="vertical-separator"></span><span>1803–69</span>
            </div>
        </div>
    </a><a href="/composer/berwald">
        <div class="card ">
            <div><span>Berwald, </span><span class="card__light-text">Franz</span></div>
            <div class="card__subtitle"><span>Sweden</span><span
                    class="vertical-separator"></span><span>1796–1868</span></div>
        </div>
    </a><a href="/composer/bizet">
        <div class="card ">
            <div><span>Bizet, </span><span class="card__light-text">Georges</span></div>
            <div class="card__subtitle"><span>France</span><span class="vertical-separator"></span><span>1838–75</span>
            </div>
        </div>
    </a><a href="/composer/borodin">
        <div class="card ">
            <div><span>Borodin, </span><span class="card__light-text">Alexander</span></div>
            <div class="card__subtitle"><span>Russia</span><span class="vertical-separator"></span><span>1833–87</span>
            </div>
        </div>
    </a><a href="/composer/brahms">
        <div class="card ">
            <div><span>Brahms, </span><span class="card__light-text">Johannes</span></div>
            <div class="card__subtitle"><span>Germany</span><span class="vertical-separator"></span><span>1833–97</span>
            </div>
        </div>
    </a><a href="/composer/bruch">
        <div class="card ">
            <div><span>Bruch, </span><span class="card__light-text">Max</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1838–1920</span></div>
        </div>
    </a><a href="/composer/bruckner">
        <div class="card ">
            <div><span>Bruckner, </span><span class="card__light-text">Anton</span></div>
            <div class="card__subtitle"><span>Austria</span><span class="vertical-separator"></span><span>1824–96</span>
            </div>
        </div>
    </a><a href="/composer/chopin">
        <div class="card ">
            <div><span>Chopin, </span><span class="card__light-text">Frédéric</span></div>
            <div class="card__subtitle"><span>Poland</span><span class="vertical-separator"></span><span>1810–49</span>
            </div>
        </div>
    </a><a href="/composer/donizetti">
        <div class="card ">
            <div><span>Donizetti, </span><span class="card__light-text">Gaetano</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1797–1848</span>
            </div>
        </div>
    </a><a href="/composer/dvorak">
        <div class="card ">
            <div><span>Dvořák, </span><span class="card__light-text">Antonín</span></div>
            <div class="card__subtitle"><span>Bohemia</span><span
                    class="vertical-separator"></span><span>1841–1904</span></div>
        </div>
    </a><a href="/composer/franck">
        <div class="card ">
            <div><span>Franck, </span><span class="card__light-text">César</span></div>
            <div class="card__subtitle"><span>Belgium, France</span><span class="vertical-separator"></span><span>1822–90</span>
            </div>
        </div>
    </a><a href="/composer/glazunov">
        <div class="card ">
            <div><span>Glazunov, </span><span class="card__light-text">Alexander</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1865–1936</span></div>
        </div>
    </a><a href="/composer/kalinnikov">
        <div class="card ">
            <div><span>Kalinnikov, </span><span class="card__light-text">Vasily</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1866–1901</span></div>
        </div>
    </a><a href="/composer/liszt">
        <div class="card ">
            <div><span>Liszt, </span><span class="card__light-text">Franz</span></div>
            <div class="card__subtitle"><span>Hungary</span><span class="vertical-separator"></span><span>1811–86</span>
            </div>
        </div>
    </a><a href="/composer/magnard">
        <div class="card ">
            <div><span>Magnard, </span><span class="card__light-text">Albéric</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1865–1914</span></div>
        </div>
    </a><a href="/composer/martucci">
        <div class="card ">
            <div><span>Martucci, </span><span class="card__light-text">Giuseppe</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1865–1909</span>
            </div>
        </div>
    </a><a href="/composer/mendelssohn">
        <div class="card ">
            <div><span>Mendelssohn, </span><span class="card__light-text">Felix</span></div>
            <div class="card__subtitle"><span>Germany</span><span class="vertical-separator"></span><span>1809–47</span>
            </div>
        </div>
    </a><a href="/composer/mussorgsky">
        <div class="card ">
            <div><span>Mussorgsky, </span><span class="card__light-text">Modest</span></div>
            <div class="card__subtitle"><span>Russia</span><span class="vertical-separator"></span><span>1839–81</span>
            </div>
        </div>
    </a><a href="/composer/rachmaninov">
        <div class="card ">
            <div><span>Rachmaninov, </span><span class="card__light-text">Sergei</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1873–1943</span></div>
        </div>
    </a><a href="/composer/raff">
        <div class="card ">
            <div><span>Raff, </span><span class="card__light-text">Joachim</span></div>
            <div class="card__subtitle"><span>Switzerland, Germany</span><span class="vertical-separator"></span><span>1822–82</span>
            </div>
        </div>
    </a><a href="/composer/rimsky-korsakov">
        <div class="card ">
            <div><span>Rimsky-Korsakov, </span><span class="card__light-text">Nikolai</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1844–1908</span></div>
        </div>
    </a><a href="/composer/rossini">
        <div class="card ">
            <div><span>Rossini, </span><span class="card__light-text">Gioachino</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1792–1868</span>
            </div>
        </div>
    </a><a href="/composer/rubinstein">
        <div class="card ">
            <div><span>Rubinstein, </span><span class="card__light-text">Anton</span></div>
            <div class="card__subtitle"><span>Russia</span><span class="vertical-separator"></span><span>1829–94</span>
            </div>
        </div>
    </a><a href="/composer/schumann">
        <div class="card ">
            <div><span>Schumann, </span><span class="card__light-text">Robert</span></div>
            <div class="card__subtitle"><span>Germany</span><span class="vertical-separator"></span><span>1810–56</span>
            </div>
        </div>
    </a><a href="/composer/taneyev">
        <div class="card ">
            <div><span>Taneyev, </span><span class="card__light-text">Sergei</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1856–1915</span></div>
        </div>
    </a><a href="/composer/tchaikovsky">
        <div class="card ">
            <div><span>Tchaikovsky, </span><span class="card__light-text">Pyotr</span></div>
            <div class="card__subtitle"><span>Russia</span><span class="vertical-separator"></span><span>1840–93</span>
            </div>
        </div>
    </a><a href="/composer/verdi">
        <div class="card ">
            <div><span>Verdi, </span><span class="card__light-text">Giuseppe</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1813–1901</span>
            </div>
        </div>
    </a><a href="/composer/volkmann">
        <div class="card ">
            <div><span>Volkmann, </span><span class="card__light-text">Robert</span></div>
            <div class="card__subtitle"><span>Germany</span><span class="vertical-separator"></span><span>1815–83</span>
            </div>
        </div>
    </a><a href="/composer/wagner">
        <div class="card ">
            <div><span>Wagner, </span><span class="card__light-text">Richard</span></div>
            <div class="card__subtitle"><span>Germany</span><span class="vertical-separator"></span><span>1813–83</span>
            </div>
        </div>
    </a><a href="/composer/weber">
        <div class="card ">
            <div><span>Weber, </span><span class="card__light-text">Carl Maria von</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1786–1826</span></div>
        </div>
    </a><a href="/composer/wetz">
        <div class="card ">
            <div><span>Wetz, </span><span class="card__light-text">Richard</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1875–1935</span></div>
        </div>
    </a></div>
    <h2>Modernism, 1890–1975</h2>
    <hr/>
    <div class="card-list"><a href="/composer/atterberg">
        <div class="card ">
            <div><span>Atterberg, </span><span class="card__light-text">Kurt</span></div>
            <div class="card__subtitle"><span>Sweden</span><span
                    class="vertical-separator"></span><span>1887–1974</span></div>
        </div>
    </a><a href="/composer/barber">
        <div class="card ">
            <div><span>Barber, </span><span class="card__light-text">Samuel</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1910–81</span>
            </div>
        </div>
    </a><a href="/composer/bartok">
        <div class="card ">
            <div><span>Bartók, </span><span class="card__light-text">Béla</span></div>
            <div class="card__subtitle"><span>Hungary</span><span
                    class="vertical-separator"></span><span>1881–1945</span></div>
        </div>
    </a><a href="/composer/bax">
        <div class="card ">
            <div><span>Bax, </span><span class="card__light-text">Arnold</span></div>
            <div class="card__subtitle"><span>England</span><span
                    class="vertical-separator"></span><span>1883–1953</span></div>
        </div>
    </a><a href="/composer/beach">
        <div class="card ">
            <div><span>Beach, </span><span class="card__light-text">Amy</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1867–1944</span>
            </div>
        </div>
    </a><a href="/composer/berg">
        <div class="card ">
            <div><span>Berg, </span><span class="card__light-text">Alban</span></div>
            <div class="card__subtitle"><span>Austria</span><span
                    class="vertical-separator"></span><span>1885–1935</span></div>
        </div>
    </a><a href="/composer/busoni">
        <div class="card ">
            <div><span>Busoni, </span><span class="card__light-text">Ferruccio</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1866–1924</span>
            </div>
        </div>
    </a><a href="/composer/debussy">
        <div class="card ">
            <div><span>Debussy, </span><span class="card__light-text">Claude</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1862–1918</span></div>
        </div>
    </a><a href="/composer/elgar">
        <div class="card ">
            <div><span>Elgar, </span><span class="card__light-text">Edward</span></div>
            <div class="card__subtitle"><span>England</span><span
                    class="vertical-separator"></span><span>1857–1934</span></div>
        </div>
    </a><a href="/composer/enescu">
        <div class="card ">
            <div><span>Enescu, </span><span class="card__light-text">George</span></div>
            <div class="card__subtitle"><span>Romania</span><span
                    class="vertical-separator"></span><span>1881–1955</span></div>
        </div>
    </a><a href="/composer/faure">
        <div class="card ">
            <div><span>Fauré, </span><span class="card__light-text">Gabriel</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1845–1924</span></div>
        </div>
    </a><a href="/composer/gliere">
        <div class="card ">
            <div><span>Glière, </span><span class="card__light-text">Reinhold</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1875–1956</span></div>
        </div>
    </a><a href="/composer/hanson">
        <div class="card ">
            <div><span>Hanson, </span><span class="card__light-text">Howard</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1896–1981</span>
            </div>
        </div>
    </a><a href="/composer/hartmann">
        <div class="card ">
            <div><span>Hartmann, </span><span class="card__light-text">Karl Amadeus</span></div>
            <div class="card__subtitle"><span>Germany</span><span class="vertical-separator"></span><span>1905–63</span>
            </div>
        </div>
    </a><a href="/composer/hindemith">
        <div class="card ">
            <div><span>Hindemith, </span><span class="card__light-text">Paul</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1895–1963</span></div>
        </div>
    </a><a href="/composer/honegger">
        <div class="card ">
            <div><span>Honegger, </span><span class="card__light-text">Arthur</span></div>
            <div class="card__subtitle"><span>Switzerland</span><span
                    class="vertical-separator"></span><span>1892–1955</span></div>
        </div>
    </a><a href="/composer/ives">
        <div class="card ">
            <div><span>Ives, </span><span class="card__light-text">Charles</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1874–1954</span>
            </div>
        </div>
    </a><a href="/composer/janacek">
        <div class="card ">
            <div><span>Janáček, </span><span class="card__light-text">Leoš</span></div>
            <div class="card__subtitle"><span>Moravia</span><span
                    class="vertical-separator"></span><span>1854–1928</span></div>
        </div>
    </a><a href="/composer/khachaturian">
        <div class="card ">
            <div><span>Khachaturian, </span><span class="card__light-text">Aram</span></div>
            <div class="card__subtitle"><span>Armenia</span><span class="vertical-separator"></span><span>1903–78</span>
            </div>
        </div>
    </a><a href="/composer/korngold">
        <div class="card ">
            <div><span>Korngold, </span><span class="card__light-text">Erich Wolfgang</span></div>
            <div class="card__subtitle"><span>Austria, USA</span><span
                    class="vertical-separator"></span><span>1897–1957</span></div>
        </div>
    </a><a href="/composer/langgaard">
        <div class="card ">
            <div><span>Langgaard, </span><span class="card__light-text">Rued</span></div>
            <div class="card__subtitle"><span>Denmark</span><span
                    class="vertical-separator"></span><span>1893–1952</span></div>
        </div>
    </a><a href="/composer/leifs">
        <div class="card ">
            <div><span>Leifs, </span><span class="card__light-text">Jón</span></div>
            <div class="card__subtitle"><span>Iceland</span><span
                    class="vertical-separator"></span><span>1899–1968</span></div>
        </div>
    </a><a href="/composer/mahler">
        <div class="card ">
            <div><span>Mahler, </span><span class="card__light-text">Gustav</span></div>
            <div class="card__subtitle"><span>Bohemia, Austria</span><span class="vertical-separator"></span><span>1860–1911</span>
            </div>
        </div>
    </a><a href="/composer/martinu">
        <div class="card ">
            <div><span>Martinů, </span><span class="card__light-text">Bohuslav</span></div>
            <div class="card__subtitle"><span>Czechia</span><span
                    class="vertical-separator"></span><span>1890–1959</span></div>
        </div>
    </a><a href="/composer/medtner">
        <div class="card ">
            <div><span>Medtner, </span><span class="card__light-text">Nikolai</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1880–1951</span></div>
        </div>
    </a><a href="/composer/milhaud">
        <div class="card ">
            <div><span>Milhaud, </span><span class="card__light-text">Darius</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1892–1974</span></div>
        </div>
    </a><a href="/composer/myaskovsky">
        <div class="card ">
            <div><span>Myaskovsky, </span><span class="card__light-text">Nikolai</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1881–1950</span></div>
        </div>
    </a><a href="/composer/nielsen">
        <div class="card ">
            <div><span>Nielsen, </span><span class="card__light-text">Carl</span></div>
            <div class="card__subtitle"><span>Denmark</span><span
                    class="vertical-separator"></span><span>1865–1931</span></div>
        </div>
    </a><a href="/composer/piston">
        <div class="card ">
            <div><span>Piston, </span><span class="card__light-text">Walter</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1894–1976</span>
            </div>
        </div>
    </a><a href="/composer/poulenc">
        <div class="card ">
            <div><span>Poulenc, </span><span class="card__light-text">Francis</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1899–1963</span></div>
        </div>
    </a><a href="/composer/prokofiev">
        <div class="card ">
            <div><span>Prokofiev, </span><span class="card__light-text">Sergei</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1891–1953</span></div>
        </div>
    </a><a href="/composer/puccini">
        <div class="card ">
            <div><span>Puccini, </span><span class="card__light-text">Giacomo</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1858–1924</span>
            </div>
        </div>
    </a><a href="/composer/rangstrom">
        <div class="card ">
            <div><span>Rangström, </span><span class="card__light-text">Ture</span></div>
            <div class="card__subtitle"><span>Sweden</span><span
                    class="vertical-separator"></span><span>1884–1947</span></div>
        </div>
    </a><a href="/composer/ravel">
        <div class="card ">
            <div><span>Ravel, </span><span class="card__light-text">Maurice</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1875–1937</span></div>
        </div>
    </a><a href="/composer/roslavets">
        <div class="card ">
            <div><span>Roslavets, </span><span class="card__light-text">Nikolai</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1881–1944</span></div>
        </div>
    </a><a href="/composer/saint-saens">
        <div class="card ">
            <div><span>Saint-Saëns, </span><span class="card__light-text">Camille</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1835–1921</span></div>
        </div>
    </a><a href="/composer/schmidt">
        <div class="card ">
            <div><span>Schmidt, </span><span class="card__light-text">Franz</span></div>
            <div class="card__subtitle"><span>Austria-Hungary</span><span class="vertical-separator"></span><span>1874–1939</span>
            </div>
        </div>
    </a><a href="/composer/schonberg">
        <div class="card ">
            <div><span>Schönberg, </span><span class="card__light-text">Arnold</span></div>
            <div class="card__subtitle"><span>Austria, USA</span><span
                    class="vertical-separator"></span><span>1874–1951</span></div>
        </div>
    </a><a href="/composer/scriabin">
        <div class="card ">
            <div><span>Scriabin, </span><span class="card__light-text">Alexander</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1872–1915</span></div>
        </div>
    </a><a href="/composer/shostakovich">
        <div class="card ">
            <div><span>Shostakovich, </span><span class="card__light-text">Dmitri</span></div>
            <div class="card__subtitle"><span>Russia</span><span class="vertical-separator"></span><span>1906–75</span>
            </div>
        </div>
    </a><a href="/composer/sibelius">
        <div class="card ">
            <div><span>Sibelius, </span><span class="card__light-text">Jean</span></div>
            <div class="card__subtitle"><span>Finland</span><span
                    class="vertical-separator"></span><span>1865–1957</span></div>
        </div>
    </a><a href="/composer/stenhammar">
        <div class="card ">
            <div><span>Stenhammar, </span><span class="card__light-text">Wilhelm</span></div>
            <div class="card__subtitle"><span>Sweden</span><span
                    class="vertical-separator"></span><span>1871–1927</span></div>
        </div>
    </a><a href="/composer/strauss">
        <div class="card ">
            <div><span>Strauss, </span><span class="card__light-text">Richard</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1864–1949</span></div>
        </div>
    </a><a href="/composer/stravinsky">
        <div class="card ">
            <div><span>Stravinsky, </span><span class="card__light-text">Igor</span></div>
            <div class="card__subtitle"><span>Russia, USA</span><span
                    class="vertical-separator"></span><span>1882–1971</span></div>
        </div>
    </a><a href="/composer/szymanowski">
        <div class="card ">
            <div><span>Szymanowski, </span><span class="card__light-text">Karol</span></div>
            <div class="card__subtitle"><span>Poland</span><span
                    class="vertical-separator"></span><span>1882–1937</span></div>
        </div>
    </a><a href="/composer/tippett">
        <div class="card ">
            <div><span>Tippett, </span><span class="card__light-text">Michael</span></div>
            <div class="card__subtitle"><span>England</span><span class="vertical-separator"></span><span>1905–98</span>
            </div>
        </div>
    </a><a href="/composer/varese">
        <div class="card ">
            <div><span>Varèse, </span><span class="card__light-text">Edgard</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1883–1965</span>
            </div>
        </div>
    </a><a href="/composer/vaughan-williams">
        <div class="card ">
            <div><span>Vaughan Williams, </span><span class="card__light-text">Ralph</span></div>
            <div class="card__subtitle"><span>England</span><span
                    class="vertical-separator"></span><span>1872–1958</span></div>
        </div>
    </a><a href="/composer/villa-lobos">
        <div class="card ">
            <div><span>Villa-Lobos, </span><span class="card__light-text">Heitor</span></div>
            <div class="card__subtitle"><span>Brazil</span><span
                    class="vertical-separator"></span><span>1887–1959</span></div>
        </div>
    </a><a href="/composer/walton">
        <div class="card ">
            <div><span>Walton, </span><span class="card__light-text">William</span></div>
            <div class="card__subtitle"><span>England</span><span class="vertical-separator"></span><span>1902–83</span>
            </div>
        </div>
    </a><a href="/composer/webern">
        <div class="card ">
            <div><span>Webern, </span><span class="card__light-text">Anton</span></div>
            <div class="card__subtitle"><span>Austria</span><span
                    class="vertical-separator"></span><span>1883–1945</span></div>
        </div>
    </a></div>
    <h2>Contemporary, 1950–</h2>
    <hr/>
    <div class="card-list"><a href="/composer/adams">
        <div class="card ">
            <div><span>Adams, </span><span class="card__light-text">John</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1947–</span></div>
        </div>
    </a><a href="/composer/aho">
        <div class="card ">
            <div><span>Aho, </span><span class="card__light-text">Kalevi</span></div>
            <div class="card__subtitle"><span>Finland</span><span class="vertical-separator"></span><span>1949–</span>
            </div>
        </div>
    </a><a href="/composer/berio">
        <div class="card ">
            <div><span>Berio, </span><span class="card__light-text">Luciano</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1925–2003</span>
            </div>
        </div>
    </a><a href="/composer/bernstein">
        <div class="card ">
            <div><span>Bernstein, </span><span class="card__light-text">Leonard</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1918–90</span>
            </div>
        </div>
    </a><a href="/composer/boulez">
        <div class="card ">
            <div><span>Boulez, </span><span class="card__light-text">Pierre</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1925–2016</span></div>
        </div>
    </a><a href="/composer/cage">
        <div class="card ">
            <div><span>Cage, </span><span class="card__light-text">John</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1912–92</span>
            </div>
        </div>
    </a><a href="/composer/carter">
        <div class="card ">
            <div><span>Carter, </span><span class="card__light-text">Elliott</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1908–2012</span>
            </div>
        </div>
    </a><a href="/composer/copland">
        <div class="card ">
            <div><span>Copland, </span><span class="card__light-text">Aaron</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1900–90</span>
            </div>
        </div>
    </a><a href="/composer/crumb">
        <div class="card ">
            <div><span>Crumb, </span><span class="card__light-text">George</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1929–</span></div>
        </div>
    </a><a href="/composer/diamond">
        <div class="card ">
            <div><span>Diamond, </span><span class="card__light-text">David</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1915–2005</span>
            </div>
        </div>
    </a><a href="/composer/dutilleux">
        <div class="card ">
            <div><span>Dutilleux, </span><span class="card__light-text">Henri</span></div>
            <div class="card__subtitle"><span>France</span><span
                    class="vertical-separator"></span><span>1916–2013</span></div>
        </div>
    </a><a href="/composer/feldman">
        <div class="card ">
            <div><span>Feldman, </span><span class="card__light-text">Morton</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1926–87</span>
            </div>
        </div>
    </a><a href="/composer/ferneyhough">
        <div class="card ">
            <div><span>Ferneyhough, </span><span class="card__light-text">Brian</span></div>
            <div class="card__subtitle"><span>England</span><span class="vertical-separator"></span><span>1943–</span>
            </div>
        </div>
    </a><a href="/composer/glass">
        <div class="card ">
            <div><span>Glass, </span><span class="card__light-text">Philip</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1937–</span></div>
        </div>
    </a><a href="/composer/gorecki">
        <div class="card ">
            <div><span>Górecki, </span><span class="card__light-text">Henryk</span></div>
            <div class="card__subtitle"><span>Poland</span><span
                    class="vertical-separator"></span><span>1933–2010</span></div>
        </div>
    </a><a href="/composer/gubaidulina">
        <div class="card ">
            <div><span>Gubaidulina, </span><span class="card__light-text">Sofia</span></div>
            <div class="card__subtitle"><span>Russia</span><span class="vertical-separator"></span><span>1931–</span>
            </div>
        </div>
    </a><a href="/composer/harris">
        <div class="card ">
            <div><span>Harris, </span><span class="card__light-text">Roy</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1898–1979</span>
            </div>
        </div>
    </a><a href="/composer/higdon">
        <div class="card ">
            <div><span>Higdon, </span><span class="card__light-text">Jennifer</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1962–</span></div>
        </div>
    </a><a href="/composer/holmboe">
        <div class="card ">
            <div><span>Holmboe, </span><span class="card__light-text">Vagn</span></div>
            <div class="card__subtitle"><span>Denmark</span><span class="vertical-separator"></span><span>1909–96</span>
            </div>
        </div>
    </a><a href="/composer/ligeti">
        <div class="card ">
            <div><span>Ligeti, </span><span class="card__light-text">György Sándor</span></div>
            <div class="card__subtitle"><span>Austria, Hungary</span><span class="vertical-separator"></span><span>1923–2006</span>
            </div>
        </div>
    </a><a href="/composer/lutoslawski">
        <div class="card ">
            <div><span>Lutosławski, </span><span class="card__light-text">Witold</span></div>
            <div class="card__subtitle"><span>Poland</span><span class="vertical-separator"></span><span>1913–94</span>
            </div>
        </div>
    </a><a href="/composer/martynov">
        <div class="card ">
            <div><span>Martynov, </span><span class="card__light-text">Vladimir</span></div>
            <div class="card__subtitle"><span>Russia</span><span class="vertical-separator"></span><span>1946–</span>
            </div>
        </div>
    </a><a href="/composer/messiaen">
        <div class="card ">
            <div><span>Messiaen, </span><span class="card__light-text">Olivier</span></div>
            <div class="card__subtitle"><span>France</span><span class="vertical-separator"></span><span>1908–92</span>
            </div>
        </div>
    </a><a href="/composer/nancarrow">
        <div class="card ">
            <div><span>Nancarrow, </span><span class="card__light-text">Conlon</span></div>
            <div class="card__subtitle"><span>Mexico</span><span class="vertical-separator"></span><span>1912–97</span>
            </div>
        </div>
    </a><a href="/composer/narbutaite">
        <div class="card ">
            <div><span>Narbutaitė, </span><span class="card__light-text">Onutė</span></div>
            <div class="card__subtitle"><span>Lithuania</span><span class="vertical-separator"></span><span>1956–</span>
            </div>
        </div>
    </a><a href="/composer/norgard">
        <div class="card ">
            <div><span>Nørgård, </span><span class="card__light-text">Per</span></div>
            <div class="card__subtitle"><span>Denmark</span><span class="vertical-separator"></span><span>1932–</span>
            </div>
        </div>
    </a><a href="/composer/part">
        <div class="card ">
            <div><span>Pärt, </span><span class="card__light-text">Arvo</span></div>
            <div class="card__subtitle"><span>Estonia</span><span class="vertical-separator"></span><span>1935–</span>
            </div>
        </div>
    </a><a href="/composer/penderecki">
        <div class="card ">
            <div><span>Penderecki, </span><span class="card__light-text">Krzysztof</span></div>
            <div class="card__subtitle"><span>Poland</span><span
                    class="vertical-separator"></span><span>1933–2020</span></div>
        </div>
    </a><a href="/composer/petrassi">
        <div class="card ">
            <div><span>Petrassi, </span><span class="card__light-text">Goffredo</span></div>
            <div class="card__subtitle"><span>Italy</span><span class="vertical-separator"></span><span>1904–2003</span>
            </div>
        </div>
    </a><a href="/composer/pettersson">
        <div class="card ">
            <div><span>Pettersson, </span><span class="card__light-text">Allan</span></div>
            <div class="card__subtitle"><span>Sweden</span><span class="vertical-separator"></span><span>1911–80</span>
            </div>
        </div>
    </a><a href="/composer/rautavaara">
        <div class="card ">
            <div><span>Rautavaara, </span><span class="card__light-text">Einojuhani</span></div>
            <div class="card__subtitle"><span>Finland</span><span
                    class="vertical-separator"></span><span>1928–2016</span></div>
        </div>
    </a><a href="/composer/reich">
        <div class="card ">
            <div><span>Reich, </span><span class="card__light-text">Steve</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1936–</span></div>
        </div>
    </a><a href="/composer/riley">
        <div class="card ">
            <div><span>Riley, </span><span class="card__light-text">Terry</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1935–</span></div>
        </div>
    </a><a href="/composer/rochberg">
        <div class="card ">
            <div><span>Rochberg, </span><span class="card__light-text">George</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1918–2005</span>
            </div>
        </div>
    </a><a href="/composer/rubbra">
        <div class="card ">
            <div><span>Rubbra, </span><span class="card__light-text">Edmund</span></div>
            <div class="card__subtitle"><span>England</span><span class="vertical-separator"></span><span>1901–86</span>
            </div>
        </div>
    </a><a href="/composer/schnittke">
        <div class="card ">
            <div><span>Schnittke, </span><span class="card__light-text">Alfred</span></div>
            <div class="card__subtitle"><span>Russia</span><span class="vertical-separator"></span><span>1934–98</span>
            </div>
        </div>
    </a><a href="/composer/schuman">
        <div class="card ">
            <div><span>Schuman, </span><span class="card__light-text">William</span></div>
            <div class="card__subtitle"><span>USA</span><span class="vertical-separator"></span><span>1910–92</span>
            </div>
        </div>
    </a><a href="/composer/silvestrov">
        <div class="card ">
            <div><span>Silvestrov, </span><span class="card__light-text">Valentyn</span></div>
            <div class="card__subtitle"><span>Ukraine</span><span class="vertical-separator"></span><span>1937–</span>
            </div>
        </div>
    </a><a href="/composer/sorabji">
        <div class="card ">
            <div><span>Sorabji, </span><span class="card__light-text">Kaikhosru Shapurji</span></div>
            <div class="card__subtitle"><span>England</span><span
                    class="vertical-separator"></span><span>1892–1988</span></div>
        </div>
    </a><a href="/composer/stockhausen">
        <div class="card ">
            <div><span>Stockhausen, </span><span class="card__light-text">Karlheinz</span></div>
            <div class="card__subtitle"><span>Germany</span><span
                    class="vertical-separator"></span><span>1928–2007</span></div>
        </div>
    </a><a href="/composer/tubin">
        <div class="card ">
            <div><span>Tubin, </span><span class="card__light-text">Eduard</span></div>
            <div class="card__subtitle"><span>Estonia</span><span class="vertical-separator"></span><span>1905–82</span>
            </div>
        </div>
    </a><a href="/composer/ustvolskaya">
        <div class="card ">
            <div><span>Ustvolskaya, </span><span class="card__light-text">Galina</span></div>
            <div class="card__subtitle"><span>Russia</span><span
                    class="vertical-separator"></span><span>1919–2006</span></div>
        </div>
    </a><a href="/composer/xenakis">
        <div class="card ">
            <div><span>Xenakis, </span><span class="card__light-text">Iannis</span></div>
            <div class="card__subtitle"><span>France, Greece</span><span class="vertical-separator"></span><span>1922–2001</span>
            </div>
        </div>
    </a></div>
</main>
<footer><a title="Buy me a coffee" href="https://www.buymeacoffee.com/zunh"><img alt="Buy me a coffee"
                                                                                 class="buy-coffee-button"
                                                                                 src="/img/bmc-button.svg"/></a><a
        title="Github repository" href="https://github.com/Droidion/composers"><img alt="Github repository logo"
                                                                                    class="footer-logo"
                                                                                    src="/img/github-logo.svg"/></a>
</footer>
</body>
</html>